body > div:first-child {
  border: 0.0625rem solid red;
}
body > div:first-child > h1:first-child {
  border-bottom: 0.0625rem solid blue;
}
body > div:first-child > h2:nth-child(2) {
  padding: 1rem;
  border: 0.0625rem solid red;
}
body > div:first-child > section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9375rem;
}
body > div:first-child > section:first-of-type article:nth-child(odd) {
  color: blue;
  text-align: center;
  padding: 0.625rem;
  border: 1px solid rgb(95, 247, 128);
}
body > div:first-child > section:first-of-type article:nth-child(even) {
  color: red;
  text-align: center;
  padding: 0.625rem;
  border: 1px solid rgb(95, 247, 128);
}
body > div:first-child > section:last-of-type article {
  color: rgb(95, 247, 128);
  text-align: center;
  padding: 1.5rem;
  border: 1px solid blue;
  width: 100%;
}
body > div:first-child > section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
body > div:first-child > section:nth-of-type(2) div {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.0625rem solid red;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(3) {
  background-color: #d9d9d9;
  color: #262626;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(4) {
  background-color: #cccccc;
  color: #333333;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(5) {
  background-color: #bfbfbf;
  color: #404040;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(7) {
  background-color: #a6a6a6;
  color: #595959;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(8) {
  background-color: #999999;
  color: #666666;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(9) {
  background-color: #8c8c8c;
  color: #737373;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(10) {
  background-color: blue;
  color: red;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(11) {
  background-color: #737373;
  color: #8c8c8c;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(12) {
  background-color: #666666;
  color: #999999;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(13) {
  background-color: #595959;
  color: #a6a6a6;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(15) {
  background-color: #404040;
  color: #bfbfbf;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(16) {
  background-color: #333333;
  color: #cccccc;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(17) {
  background-color: #262626;
  color: #d9d9d9;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
body > div:first-child > section:nth-of-type(2) div:nth-of-type(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}

body > div:first-child > h1:first-child, body > div:first-child > h2:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  text-align: center;
  color: rgb(95, 247, 128);
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
